{
  "extends": [
    "react-app",
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "react",
    "unused-imports",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "off",
    "no-empty-function": "error",
    "react-hooks/exhaustive-deps": "error",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}