// $primary: #6366f1;
$primary: #0099ff;
$secondary: #0066aa;
$success: #42b549;
$info: #6366f1;
$warning: #ff6600;
$danger: #dc0000;
$light: #f5f5f5;
$dark: #000000;

// Light
$light-primary: #f7fcff;
$light-secondary: #f5fbff;
$light-success: #f9fff9;
$light-info: #f9f9ff;
$light-warning: #fff9f5;
$light-danger: #fff9f9;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'light-primary': $light-primary,
  'light-secondary': $light-secondary,
  'light-success': $light-success,
  'light-info': $light-info,
  'light-warning': $light-warning,
  'light-danger': $light-danger,
);
